﻿@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Oliver Vaughan</title>
        <meta name="viewport" content="width=device-width" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        @Styles.Render("~/Content/css")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home") | </li>
                        <li>@Html.ActionLink("Add", "AddBlog", "Blog") | </li>
                        <li>@Html.ActionLink("View", "ViewBlogs", "Blog")</li>
                    </ul>
                </nav>
            </div>
        </header>
        <div id="body">
            <div class="content-wrapper">
                @RenderBody()
            </div>
        </div>
        <footer>
            <div class="content-wrapper">
                <p>&copy; @DateTime.Now.Year - Oliver Vaughan</p>
            </div>
        </footer>
    </body>
</html>

